{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {% block styles%}
        {% bootstrap_css %}
    {% endblock %}
</head>
<body>
    <div class="container" id="image-section">
        {% for image in images%}
        <div class="row mt-3">
            <div class="col-4">
                <div class="card" id="{{image.id}}">
                    <div class="card-header">
                        {{image.user.username}}
                    </div>
                    <div class="card-body">
                        <img src="{{image.image_url.url}}" alt="" class="img-responsive" style="height: 200px; width: 300px;">
                    </div>
                    <div class="card-footer">
                        <form action="{% url 'like' %}" method="post" class="form-inline">
                            {%csrf_token%}
                            <p class="likes-icon mr-2">{{image.likes.all.count}}</p>
                            <button type="submit" class="btn btn-success like-btn" onclick="liker('{{image.id}}')">Like</button>
                        </form>
                        <div class="comments">
                            {% include 'comment.html' %}
                        </div>
                        <form action="{% url 'comment' %}" method="post" class="form-inline">
                            {% csrf_token %}
                            <input type="text" name="comment" id="" class="form-control comment-val" required>
                            <button type="submit" class="btn btn-sm btn-primary comment-btn" onclick="commenter('{{image.id}}')">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
        <script>
            $(".like-btn").click((e) => {
                e.preventDefault()
            })
            function liker(id) {
                // $(".like-input").val(id)
                // let image_id = $(".like-input").val()
                icons = document.getElementsByClassName("likes-icon")
                console.log(icons,id)
                const image_id = parseInt(id)
                $.ajax({
                    "url":"/ajax/like/",
                    "type": "POST",
                    "data": {
                        "id":image_id, 
                        "csrfmiddlewaretoken": '{{csrf_token}}'
                    },
                    "dataType":"json",
                    "success": function(res) {
                        let imagess = parseInt(image_id)
                        imagess -= 1
                        icons[imagess].innerHTML = res['likes']
                    }
                })
            }
            $(".comment-btn").click(e => {
                e.preventDefault()
            })
            function commenter(id) {
                comments = document.getElementsByClassName("comments")
                image_id = parseInt(id)
                console.log(comments)
                alert(image_id)
                comment = $(".comment-val").val()
                alert(id)
                $.ajax({
                    "url": "/ajax/comment/",
                    "type": "POST",
                    "data": {
                        "id": image_id,
                        "comment": comment,
                        "csrfmiddlewaretoken": '{{csrf_token}}'
                    },
                    "dataType": "json",
                    "success": function(res) {
                        comments[image_id - 1].innerHTML = res["html"]
                    }
                })
                $(".comment-val").val("") 
            }
        </script>
    {% endblock %}
</body>
</html>