<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mb-5">
    <div class="brand-sign">
        <a href="/"><img src="../../media/images/brand.png" alt="" height="45px" width="130px"></a>
    </div>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <form action="{% url 'search' %}" role="search" class="form-inline navbar-center">
            <input type="text" name="user_search_term" id="" class="form-control" style="height: 30px;border-top-right-radius: 0;border-bottom-right-radius: 0">
            <button type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active ml-3 mt-1">
                <a class="nav-link" href="/"><i class="fas fa-home" style="font-size: 23px"></i></span></a>
            </li>
            <li class="nav-item active ml-3 mt-1">
                <a class="nav-link" href="{% url 'profile' user.id %}"><i class="fas fa-user" style="font-size: 23px"></i></a>
            </li>
            <li class="nav-item active">
<a class="nav-link ml-3 mt-1" href="/accounts/password/change"><i class="fas fa-user-lock" style="font-size: 23px"></i></a>
            </li>
            <li class="nav-item active ml-3 mt-1">
                <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt" style="font-size: 23px"></i></a>
            </li>
        </ul>
    </div>
</nav>