<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mb-5">
    <div class="brand-sign">
        <a href="/"><img src="../../media/images/brand.png" alt="" height="45px" width="130px"></a>
    </div>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <form action="{% url 'search' %}" role="search" class="form-inline navbar-center">
            {% csrf_token %}
            <input type="text" name="user_search_term" id="" class="form-control" style="height: 30px;border-top-right-radius: 0;border-bottom-right-radius: 0">
<a type="submit" style="height: 30px; border-top-left-radius: 0; border-bottom-left-radius: 0"><i class="fas fa-search"></i></a>
        </form>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'profile' user.id %}">Profile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/accounts/password/change">Change Password</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>