{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{user.profile.bio}}</h1>
    {% if user.profile.pic%}
    <img src="../../media/{{user.profile.pic}}" alt="" height="200px" width="200px">
    {% else %}
    <img src="../../media/pics/profile.png" alt="" height="200px" width="200px">
    {% endif %}
    <table>
        <thead>
            <th>Posts</th>
            <th>Followers</th>
            <th>Following</th>
        </thead>
        <tbody>
            <td>{{user.posts.all.count}}</td>
            <td>{{user.user_followers.all.count}}</td>
            <td>{{user.user_following.all.count}}</td>
        </tbody>
    </table>
    <div class="row">
    {% for image in user.posts.all%}
        <div class="col-4">
            <img src="{{image.image_url.url}}" alt="">
        </div>
    {% endfor %}
</body>
</html>