.profile-head {
    display: flex;
    justify-content: center
}
nav {
    box-shadow: 0 4px 2px -2px gray;
    margin-bottom: 50px;
}
.profile-pic {
    border-radius: 50%;
    position: relative;
    bottom: 20px;
}
.desc-on-sm {
    display: none;
}
* {
    font-family: Maven Pro;
}
.nav-search-form {
    position: relative;
    left: 30%;
}

@media (max-width: 930px) {
    .nav-search-form {
        position: relative;
        left: 0;
        right: 30%;
    }

    .nav-search-btn {
        display: none;
    }

    .desc-on-sm {
        display: inline-block;
    }
}

@media (max-width: 750px) {
    .comment-btn {
        display: none
    }
}