.profile-head {
    display: flex;
    justify-content: center
}
nav {
    box-shadow: 0 4px 2px -2px gray;
    margin-bottom: 50px;
}
.profile-pic {
    border-radius: 50%;
    position: relative;
    bottom: 20px;
}
* {
    font-family: Maven Pro;
}